.warehouses-banner {
  background-image: asset-url("warehouse10.jpg");
  height: 70vh;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
}

.warehouses-banner h1 {
  text-align: center;
  color: white;
  padding-top: 20vh;
}

.profile-banner {
  background-image: asset-url("profile_background.jpg");
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  color: white;
  height: 70vh;
  padding-top: 20vh;
}

.profile-banner h1 {
  opacity: 0.8;
}

.show-warehouse-banner {
  text-align: center;
  color: white;
  height: 65vh;
  display: grid;
  overflow: hidden;
}

.look-at-all-those-buttons {
  height: 50vh;
  display: flex;
}
