.booking-button {
  position: relative;
  padding-top: 57vh;
  padding-left: 10px;
  text-align: left;
}

.btn-xlarge {
    padding: 15px 35px;
    font-size: 25px; //change this to your desired size
    line-height: normal;
    color: black;
    background-color: white;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-xlarge:hover {
  background-color: black;
  color: white;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}
